.filterer {
  display: flex;
  margin-bottom: 3rem;
  justify-content: space-between;
}

.filters {
  display: flex;
}

.selectWrapper {
  position: relative;
  margin-right: 2rem;
  width: 200px;
}

.selectWrapper::before {
  content: '';
  position: absolute;
  top: 110%;
  right: 0;
  left: 0;
  height: 2px;
  background-color: #909090;
}

.selectWrapper:last-child {
  margin-right: 0;
}

.selectWrapper select {
  position: relative;
  width: 100%;
  background-color: transparent;
  border: none;
  margin-top: 1rem;
  border-radius: 0;
  color: #797979;
  font-size: 0.9rem;
  outline: none;
}

@media screen and (max-width: 889px) {
  .filterer {
    flex-direction: column;
  }
}

@media screen and (max-width: 520px) {
  .filterer {
    flex-direction: column;
  }

  .filters {
    flex-direction: column;
  }
}
