.filterer {
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
}

.filters {
  display: flex;
}

.selectWrapper {
  margin-right: 2rem;
}

.selectWrapper:last-child {
  margin-right: 0;
}
