.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.name {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1rem 4rem;
  max-width: 2.5rem;
  height: 100%;
  padding: 0.6rem 0.8rem;
  color: #101010;
  background-color: #5dade2;
  transition: 0.2s;
  font-weight: bold;
}

.reverse {
  color: #fff;
}

@media screen and (max-width: 430px) {
  .name {
    font-size: 1.4rem;
  }
}
