.section {
  display: flex;
  margin: 3rem 4vw;
  line-height: 1.6;
}

.firstSection {
  position: relative;
}

.hero {
  width: 100%;
}

.intro {
  position: absolute;
  bottom: 30%;
  right: 10%;
  width: 40%;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
}

.sectionTitle {
  flex: 1;
  padding: 0 5rem;
}

.sectionContent {
  flex: 4;
}

.sectionContent p {
  margin-bottom: 2rem;
}

@media screen and (max-width: 900px) {
  .section {
    flex-direction: column;
  }

  .sectionTitle {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 780px) {
  .intro {
    position: static;
    color: #202020;
    margin: 2rem 4vw;
    width: auto;
  }
}
