.section {
  margin: 3rem 8vw;
  line-height: 1.6;
}

.firstSection {
  position: relative;
}

.hero {
  width: 100%;
}

.intro {
  position: absolute;
  bottom: 30%;
  right: 10%;
  width: 40%;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
}

.sectionTitle {
  flex: 1;
  padding: 2rem 6rem;
}

.sectionContent {
  flex: 2;
}

.secondSection {
  display: flex;
  flex-direction: row-reverse;
}

.thirdSection {
  display: flex;
}

.fourthSection {
  display: flex;
  flex-direction: row-reverse;
}
