.hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url('/images/students1.jpg');
  background-size: cover;
  background-position: center;
  background-color: #aeaeae;
  filter: brightness(80%);
  overflow: hidden;
}

.startIntro {
  position: absolute;
  bottom: -3rem;
  left: 8vw;
  margin: 0;
  padding: 2rem 3rem 4rem 2rem;
  max-width: 40rem;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.6;
  background-color: #101010;
}

.secondIntro,
.thridIntro {
  max-width: 50rem;
  margin: 3rem 8vw;
  font-size: 1.2rem;
  line-height: 1.6;
}

.content {
  display: flex;
  margin-top: 6rem;
  margin-bottom: 4rem;
  padding: 0 4vw;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.stat {
  text-align: right;
}

.statTitle {
  color: #797979;
}

.statNumber {
  color: #5dade2;
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (max-width: 724px) {
  .content {
    flex-direction: column;
  }

  .left {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
