.wrapper {
    position: relative;
    margin-top: 12rem;
    margin-bottom: 12rem;
    padding: 0 4vw;
}

.error {
    margin-top: 13rem;
    padding: 0 22vw;
    max-width: 44rem;
  }
  
.hero {
    height: 400px;
}

.question {
    position: absolute;
    bottom: 46%;
    left: 35%;
    width: 40%;
    color: #fff;
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 1.5;
}

.question2 {
    position: absolute;
    bottom: 58%;
    left: 35%;
    width: 40%;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5;
}

.head {
    color: #fff;
}

.explain {
    position: flex;
    padding: 0 22vw;
    display: flex;
}

.explainWords {
    position: absolute;
    color: #fff;
    width: 44.5rem;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    font-size: 1.2rem;
    background-color: #b3b3b3;
  }