.footer {
  display: flex;
  justify-content: space-between;
  padding: 3rem 4vw;
  background-color: #5dade2;
  color: #fff;
}

.navBar {
  display: flex;
  padding: 0;
  margin: 0 0 1rem 0;
}

.navBar a {
  color: #fff;
}

.navItem {
  list-style-type: none;
  margin-right: 1rem;
}

@media screen and (max-width: 700px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navBar {
    flex-direction: column;
  }
}
